.main{
    .top{
        background-image: url("../dist/images/main/background.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: auto;
    }
}