body{
    font-family: Arial;
    background-image: url('../dist/images/background.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a{
    text-decoration: none;

}