.projects{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projects{
    &__block{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: xx-large;
        background-color: #22353F;
        padding: 20px;
        margin: 10px;
        width: 25vw;
        color: rgb(41, 211, 160);
        text-align: center;
        border-radius: 16px;
        box-shadow: black 10px 10px 5px;
    
    }

    &__block h3{
        margin: 5px;
    }

    &__block:hover img{
        transform: scale(110%);
        transition: 1s;

    }

    &__block:hover h3{
        text-decoration: underline;
    } 

    &__block img{
        width: 20vw;
        height: 25vh;
        padding: 10px;
    }
}

@media (max-width:1000px){
    .projects{
        &__block img{
            width: 25vw;
        }
    }
}

@media (max-width: 700px){
    .projects{
        &__block{
            width: 35vw;
            margin: 1vw;
        }

        &__block img{
            width: 35vw;
        }
    }
}

@media (max-width: 500px){
    .projects{
        &__block{
            width: 75vw;
        }

        &__block img{
            width: 60vw;
        }
    }
}